/********************/
/* Style guide */
/********************/

/*

### Layout:

- Mobile: 375px
- Desktop: 1440px

### Primary:

- Very Dark Magenta: hsl(300, 43%, 22%)
- Soft Pink: hsl(333, 80%, 67%)

### Neutral:

- Dark Grayish Magenta: hsl(303, 10%, 53%)
- Light Grayish Magenta: hsl(300, 24%, 96%)
- White: hsl(0, 0%, 100%)


### Typography system:

FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### Whitespace
SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


### Font-Style:

font-family: 'League Spartan', sans-serif;

### Font size default setup: 
-Default: 1 rem = 16px
-Reset: 1 rem = 10px
10px/16px = 62.5%

- !Font size (paragraph): 15px 

### Font-weights:

- Default: 400
- Medium: 500
- SemiBold: 600

### Line-heights:
- 0.8 for headings
- 1.6 for paragraphs

### Border-radius
Default: 10px

*/

/********************/
/* General setting */
/********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(303, 10%, 53%);
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  height: 100vh;
  line-height: 1.6;
  margin: 5% auto;
}

/*******************************/
/* General Reusable Components */
/*******************************/

.container {
  margin: 0 auto;
  padding: 0 2.5rem;
  text-align: center;
}

/*******************************/
/*  Hero Section */
/*******************************/

.hero {
  text-align: center;
  margin: 6.4rem auto 4.8rem auto;
  max-width: 45rem;
}

.hero h1 {
  color: hsl(300, 43%, 22%);
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
}

.hero-top {
  margin-bottom: 4.8rem;
}

/*******************************/
/*  Star Rating Section */
/*******************************/

.rating {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 45rem;
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}

.rating:last-child {
  margin-bottom: 0;
}

h2 {
  color: hsl(300, 43%, 22%);
  font-size: 1.8rem;
  font-weight: 600;
}

/*******************************/
/*  Testiomnial Section */
/*******************************/

.testimonials {
  justify-content: center;
  margin: 0 auto 4.8rem auto;
  max-width: 45rem;
}

.testimonial {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  border-radius: 10px;
  margin-bottom: 2.4rem;
}

.testimonial-padding {
  padding: 3.2rem;
}

.testimonial-header {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.testimonial-header img {
  border-radius: 50%;
  margin-right: 2.4rem;
}

h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
}

.testimonial-header span {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  font-size: 1.6rem;
}

blockquote {
  text-align: left;
  line-height: 1.6;
}

/*******************************/
/*  Footer */
/*******************************/

footer {
  margin-top: 6.4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*******************************/
/* Media Queries */
/*******************************/

@media screen and (min-width: 1020px) {
  .container {
    max-width: 122rem;
    margin: 0 auto;
    padding: 0 10rem;
  }

  .grid {
    display: grid;
    column-gap: 3.2rem;
  }

  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero {
    margin-bottom: 0;
    text-align: left;
  }

  .hero {
    text-align: left;
    justify-content: center;
    margin-top: 6.4rem;
    padding-right: 8rem;
  }

  .hero h1 {
    padding: 0;
    padding-right: 13rem;
  }

  .star-ratings {
    margin-top: 3.6rem;
  }

  .rating:first-child {
    transform: translatex(-3rem);
  }

  /* .rating:nth-child(2) {
    transform: translateX(1rem);
  } */

  .rating:last-child {
    transform: translatex(3rem);
  }

  .rating {
    display: flex;
    justify-content: center;
  }

  .stars {
    margin-right: 3rem;
  }

  .star {
    padding-top: 4px;
  }

  .testimonials {
    max-width: 100%;
  }

  .testimonial {
    padding: 2rem;
  }

  .testimonial-padding {
    padding: 0;
  }

  .testimonial:nth-child(2) {
    transform: translateY(1.5rem);
  }

  .testimonial:last-child {
    transform: translateY(3rem);
  }
}
